<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharedspace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/sharedspace"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sharedspace_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Room.RoomActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Room.RoomListActivity"
            android:label="@string/title_activity_room_list"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Calendar.CalendarActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Subject.SubjectActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Subject.SubjectAddActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".Room.RoomAddActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

    </application>

</manifest>